* {
  margin: 0;
  padding: 5;
  box-sizing: border-box;
}

.image {
  background-image: url('./photoWeather2.jpg');
  background-color: white;
  background-size: cover;
}

main {
  min-height: 100vh;
  padding: 30px;
}

.search {
  display: block;
  padding: 20px;
  margin: 0 0 100px; 
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  margin-top: 30px;
  font-size: 20px;
}

.weather {
  margin: auto;
  color: lightskyblue;
  font-size: 30px;
  font-weight: 700px;
}

